@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset minimal, UI sobre */
html, body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  color: #18181b; /* zinc-900 */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
}
